<?php

$rules = [
    '@Symfony' => true,
    '@Symfony:risky' => true,
    'array_syntax' => ['syntax' => 'short'],
    'concat_space' => ['spacing' => 'one'],
    'new_with_braces' => false,
    'ordered_imports' => ['sortAlgorithm' => 'length'],
    'phpdoc_no_empty_return' => false,
    'protected_to_private' => false,
    'unary_operator_spaces' => false,
];

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src');

return PhpCsFixer\Config::create()
    ->setRules($rules)
    ->setFinder($finder)
    ->setRiskyAllowed(true)
    ->setUsingCache(__DIR__ . '/.php_cs.cache');
